In [1]:
import pandas as pd

In [18]:
df = pd.read_csv('DataSets/vgsales.csv', index_col= 'Genre')
df

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Shooter,259,Asteroids,2600,1980,Atari,4.00,0.26,0.00,0.05,4.31
Shooter,545,Missile Command,2600,1980,Atari,2.56,0.17,0.00,0.03,2.76
Misc,1768,Kaboom!,2600,1980,Activision,1.07,0.07,0.00,0.01,1.15
Misc,1971,Defender,2600,1980,Atari,0.99,0.05,0.00,0.01,1.05
Fighting,2671,Boxing,2600,1980,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...
Platform,16565,Mighty No. 9,XOne,2016,Deep Silver,0.01,0.00,0.00,0.00,0.01
Shooter,16572,Resident Evil 4 HD,XOne,2016,Capcom,0.01,0.00,0.00,0.00,0.01
Simulation,16573,Farming 2017 - The Simulation,PS4,2016,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
Sports,16579,Rugby Challenge 3,XOne,2016,Alternative Software,0.00,0.01,0.00,0.00,0.01
Action,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,dramatic create,0.00,0.00,0.01,0.00,0.01

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16324 entries, 0 to 16323
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16324 non-null  int64
 1   Name          16324 non-null  object
 2   Platform      16324 non-null  object
 3   Year          16324 non-null  int64
 4   Genre         16324 non-null  object
 5   Publisher     16288 non-null  object
 6   NA_Sales      16324 non-null  float64
 7   EU_Sales      16324 non-null  float64
 8   JP_Sales      16324 non-null  float64
 9   Other_Sales   16324 non-null  float64
 10  Global_Sales  16324 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.4+ MB

In [19]:
#oublisheri sildik 
df.drop(labels=['Publisher'], axis = 1,inplace=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16324 entries, Shooter to Action
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16324 non-null  int64
 1   Name          16324 non-null  object
 2   Platform      16324 non-null  object
 3   Year          16324 non-null  int64
 4   NA_Sales      16324 non-null  float64
 5   EU_Sales      16324 non-null  float64
 6   JP_Sales      16324 non-null  float64
 7   Other_Sales   16324 non-null  float64
 8   Global_Sales  16324 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 1.2+ MB

In [21]:
#eri almak icin
#we can also do df.set_index('Genre') to add index 
df.reset_index()

,Genre,Rank,Name,Platform,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Shooter,259,Asteroids,2600,1980,4.00,0.26,0.00,0.05,4.31
1,Shooter,545,Missile Command,2600,1980,2.56,0.17,0.00,0.03,2.76
2,Misc,1768,Kaboom!,2600,1980,1.07,0.07,0.00,0.01,1.15
3,Misc,1971,Defender,2600,1980,0.99,0.05,0.00,0.01,1.05
4,Fighting,2671,Boxing,2600,1980,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...
16319,Platform,16565,Mighty No. 9,XOne,2016,0.01,0.00,0.00,0.00,0.01
16320,Shooter,16572,Resident Evil 4 HD,XOne,2016,0.01,0.00,0.00,0.00,0.01
16321,Simulation,16573,Farming 2017 - The Simulation,PS4,2016,0.00,0.01,0.00,0.00,0.01
16322,Sports,16579,Rugby Challenge 3,XOne,2016,0.00,0.01,0.00,0.00,0.01
16323,Action,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,0.00,0.00,0.01,0.00,0.01

In [22]:
df

,Rank,Name,Platform,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,
Shooter,259,Asteroids,2600,1980,4.00,0.26,0.00,0.05,4.31
Shooter,545,Missile Command,2600,1980,2.56,0.17,0.00,0.03,2.76
Misc,1768,Kaboom!,2600,1980,1.07,0.07,0.00,0.01,1.15
Misc,1971,Defender,2600,1980,0.99,0.05,0.00,0.01,1.05
Fighting,2671,Boxing,2600,1980,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...
Platform,16565,Mighty No. 9,XOne,2016,0.01,0.00,0.00,0.00,0.01
Shooter,16572,Resident Evil 4 HD,XOne,2016,0.01,0.00,0.00,0.00,0.01
Simulation,16573,Farming 2017 - The Simulation,PS4,2016,0.00,0.01,0.00,0.00,0.01
Sports,16579,Rugby Challenge 3,XOne,2016,0.00,0.01,0.00,0.00,0.01
Action,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,0.00,0.00,0.01,0.00,0.01